PORT=
NODE_ENV=

PGUSER=
PG_PASSWORD=
PG_HOST=
PG_PORT=
PG_DATABASE=

JWT_SIGN=

REDIS_HOST=
REDIS_PORT=

KAFKA_BROCKERS=
KAFKA_CLIENT_ID=

KAFKA_IMAGE=
KAFKA_PORT=
KAFKA_NODE_ID=
KAFKA_PROCESS_ROLES=
KAFKA_LISTENERS=
KAFKA_ADVERTISED_LISTENERS=
KAFKA_CONTROLLER_QUORUM_VOTERS=
KAFKA_CONTROLLER_LISTENER_NAMES=
KAFKA_INTER_BROKER_LISTENER_NAME=
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=
KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=
KAFKA_CLUSTER_ID=